<div class= "container">
<div class="col-md-4">
<h1 class= "text-center">Welcome to the Chat Application</h1>

<p>Hii <%= current_user.name %> </p>
  <h4> Users </h4>
  <%= render @users %>

<h1>All Chat Rooms</h1>
<%= render partial: "layouts/new_chatroom_form" %>
<div>
    <% @chatrooms.each do |chatroom| %>
        <p><%= link_to chatroom.name, chatrooms_url %></p>
    <% end %>
</div>
</div>
<div class="col-md-8 bg-dark text-light">
  <%# render @single_room %>

  <% if @single_room %>
    <h4 class="text-center"> <%= @single_room.name %> </h4>
    <div id="chat-messages">
      <%= render @messages %>
    </div>

    <%= render partial: 'layouts/new_message_form' %>

  <% end %>
</div>

</div>